@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
} 

body{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;  
    background: #000;
}

h2{ 
    font-size: 32px; 
    font-family: 'SUSE' , sans-serif; 
    font-weight: bolder; 
    color: gray; 
} 

.card{ 
    position: relative;
    display: flex;  
    justify-content: center; 
    align-items: center;
    border: 2px solid black; 
    background: linear-gradient(#000000,#222222,#333333); 
    border-radius: 20px;
    height : 400px; 
    width: 300px;  
    overflow: hidden; 
} 

.card::before{ 
    content: '';
    position: absolute;
    width: 150px; 
    height: 500px; 
    background: linear-gradient(#100442, #8664e3);
    overflow: hidden;
    background-size: 60%;
    animation: spin 5s linear infinite;
} 

.card::after{ 
    content: ''; 
    position: absolute; 
    inset: 10px; 
    background: linear-gradient(#000000,#222222,#333333); 
    border-radius: 20px;
}

.card h2{ 
    position: relative; 
    z-index: 2; 
    font-size: 2rem; 
    color: azure;
}

@keyframes spin { 
    0%{ 
        transform: rotate(0deg);
    }
    100%{ 
        transform: rotate(360deg);
    }
}